body {background-color: #f4f5f0;}

.navbar-orange {
    background-color: #f4f5f0;
    color: #c05950;
    border-bottom-color: #dbdad8;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.search-input-container input{padding-left: 30px; background-color: #dbdad8; border-color: #dbdad8; color:#a6a5a3;}
.search-input-container .inner-icon{left: 0; color:#a6a5a3;}

td.center-td{
    text-align:center;
}

.table > tbody > tr > td {
    padding: 5px;
    vertical-align: middle;
}

.table tbody tr:hover td,.table tbody tr:hover th{
    background-color: #FFFF00;
}
